@define-color accent_color #bac3ff;
@define-color accent_fg_color #232c60;
@define-color accent_bg_color #bac3ff;
@define-color window_bg_color #131317;
@define-color window_fg_color #e4e1e7;
@define-color headerbar_bg_color #131317;
@define-color headerbar_fg_color #e4e1e7;
@define-color popover_bg_color #131317;
@define-color popover_fg_color #e4e1e7;
@define-color view_bg_color #131317;
@define-color view_fg_color #e4e1e7;
@define-color card_bg_color #131317;
@define-color card_fg_color #e4e1e7;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
